.eat{
    text-align: center;
}

.p1 {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 15px;
}