.eat{
    text-align: center;
    
}

.bkimg {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.container {
    position:relative;
    text-align: center;
    color: white;
}
  .centered {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }   

.p1 {
    text-align: left;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 100px;
    text-align: left;
   
}

   
