.footer {
   
    .container {
        position: relative;
        text-align: center;
        color: white;
      }
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }      

      h1 {
        font-size: 72px;
        font-family: fira-sans, sans-serif;
        font-weight: 700;
        font-style: normal;
        padding-right: 360px;
        padding-bottom: 250px;
        padding-top: 150px;
      }

      .icons {
        font-size: 75px;
        padding-left: 300px;
        padding-top: 200px;
      }

    
}
