.section1 {
    display: grid;
    grid-template-rows: 206px ;
    text-align: center;
  

    .image{
        display: grid;
        grid-template-columns: 600px auto;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
        text-align: left;
        
    }
    img {
        border-radius: 50%;
        
    }
}