.pstay {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows:  100px 100px 100px 100px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 500px;
}
 .background {
     background-color: #2EC4B6;
     color: white;
     height: 250px;
 }

 .h3 {
     display: grid;
     grid-template-columns: 500px;
     padding-top: 30px;
     padding-left: 500px;
     font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
 }

 h2 {
     padding-top: 30px;
     
     font-family: fira-sans, sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 40px;
     text-align: center;
 }

 .img1 {
padding-left: 200px;
padding-top: 100px;
 }

 .img2 {
padding-left: 1000px;
 }