.weather {

   
    .title {
        text-align: left;
    }
    img {
        border-radius: 50%;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left:650px;
    }
    h4 {
        display: grid;
        grid-template-columns: 600px auto;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 150px;
        padding-left: 450px;
        text-align: left;
    }
}